/* navbar */
.main-navbar {
    position: sticky;
    top: 4rem;
    height: 3rem;
}
    .main-navbar .navbar-link {
        margin-top: 1px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: fit-content;

        /* text */
        text-transform: uppercase;
        font-weight: bold;
    }

    .main-navbar .navbar-link:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 1);
    }
