.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* header/appbar */
.header {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: deafult; /*transparent;*/
}
    .header .header-top-center p {
        font-size: 1.75rem;
        font-weight: 500;
    }

    .header .header-top-right {
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
    }
